python hpc/train_and_eval.py \
  --run-id {run_id_q} \
  --intervention {intervention_q} \
  --compute {compute_g_q} \
  --seed {seed_int_q} \
  --output-dir {output_dir_q} \
  --result-json {result_path_q} \
  --command-template-file "${{ASLA_SITE_COMMAND_TEMPLATE:?set ASLA_SITE_COMMAND_TEMPLATE to your site command template file}}" {overwrite_flag}
